.left-wrap{
  float: left;
  width: 240px;
  height: 100%;
}
.left-menu  {
  width: 240px;
  height: 100%;
}
.banner{
  padding: 25px;
  text-align: center;
  color: #fff;
}
a{
  display: block;
  color: #fff;
}
